body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
nav a {
  padding: 0 10px 0 10px;
  background-color: grey;
}
figcaption {
  font-size: 10px;
  color: grey;
}
#details div{
  float: left;
}
#featured-property p {
  width: 900px;
  display: inline-block;
}
section#featured-property {
  text-align: center;
}
div {
  background-color: red;
  text-align: center;
  width: 25%;
}